.tictactoe-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
  font-family: 'Poppins', 'Segoe UI', sans-serif;
}

.tictactoe-wrapper {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  letter-spacing: -0.5px;
  text-shadow: 1px 1px 0 #0002;
}

.tictactoe-wrapper h2{
color: var(--neutral-white);
}

.tictactoe-marcador {
  font-size: 1.2em;
  margin-top: 1em;
  background-color: var(--neutral-white);
  padding: 0.5em 1.2em;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.tictactoe-tablero {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
  max-width: 620px;
  margin: 2em auto;
  padding: 1em;
  background-color: var(--neutral-white);
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  border-radius: 12px;
}

.tictactoe-tablero button {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: #ddd;
  border: none;
  border-radius: 16px;
  transition: transform 0.1s ease, background-color 0.3s;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  cursor: pointer;
  font-size: 3em;
  color: #333;
  font-weight: bold;
  text-align: center;
}

.tictactoe-tablero button:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}

.tictactoe-tablero button:disabled {
  cursor: default;
  filter: grayscale(70%);
}

.tictactoe-reiniciar {
  display: block;
  margin: 1em auto;
  padding: 10px 20px;
  font-size: 1em;
  background-color: var(--accent-orange);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transition: background-color 0.3s, transform 0.1s ease;
  text-align: center;
}

.tictactoe-reiniciar:hover {
  background-color: var(--secondary-blue);
  font-weight: bold;
  transform: scale(1.03);
}

.selector-jugador {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem 1rem;
  background-color: var(--neutral-white);
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  font-family: 'Poppins', sans-serif;
  max-width: 400px;
  margin: 3rem auto;
}

.selector-jugador p {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  letter-spacing: -0.5px;
  text-shadow: 1px 1px 0 #0002;
  font-weight: bold;
  color: var(--dark-blue);
  text-align: center;
}

.selector-jugador form {
  text-align: center;
}
.selector-jugador input {
  width: 80%;
  padding: 0.6rem 1rem;
  margin: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  text-align: center;
}

.selector-jugador button {
  width: 100%;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  background-color: var(--primary-blue);
  color: var(--neutral-white);
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.selector-jugador button:hover {
  background-color: var(--secondary-blue);
}



